
.top {
    background-color: rgba(78, 72, 72, 0.8);
    position:absolute!important;
    left: 0;
    right: 0;
    z-index: 1000!important;
}
.nav-item  a:link, .nav-item a:visited {
    color: white;
}
.nav-item a:hover {
    color:#b8d83c
}
.dropdown-item {
    border-radius: 0;
    padding: 0
}
/* .stacked-list  li, .stacked-list  li .dropdown-item, stacked-item {
    display: inline;
} */
.dropdown-menu-dark {
    --bs-dropdown-bg: #111 !important;
    border-radius: 0!important;
    border-top: 3px solid #b8d83c !important    ;
}
.segm-item {
    padding-right: 40px;
    padding-left: 40px;
}
.insp-img {
    padding-left: 20px;
    padding-right: 20px;
}
.res-img {
    width: 15rem;
}
.dropdown-toggle::after {
    content: none;
}
.search {
    position: relative;
    left: 18.75rem;
}
.search .dropdown-menu {
    width: 18.75rem;
}
.form-control {
    border-radius: 20rem!important; 
    border: 0;
    background-color: rgba(48, 47, 47, 0.938)!important;
    color: #fff!important;
}
.search-menu {
    padding: 0!important;
    margin: 0;
    border-radius: 20rem!important;
}
.shp-bag {
    position: relative;
    left: 19.375rem;
}
.rght-menu {
    position: relative;
    left: 20rem;
}
i {
    font-size: 20px;
    color: #b8d83c;
}
.btn:hover {
    background-color: #b8d83c!important;
}
.crs-img{
    height:637.77px!important;
}
.cap-1 {
    padding-bottom: 300px!important;
}
.cap-6 {
    padding-bottom: 180px!important;
}
.cap-3 {
    padding-right: 45%!important;
    padding-bottom: 150px!important;
}
.cap-4 {
    padding-bottom:15%!important;
    padding-left: 30%!important;
}
.main-body {
    overflow-x: hidden;
}
.col-img {
    max-width: 90%;
}
